.introduction__box
  svg.introduction__image
    use(xlink:href="assets/defs.svg#icon-protective")
  h4.introduction__title Adoção
  hr
  p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl


.introduction__box
  svg.introduction__image
    use(xlink:href="assets/defs.svg#icon-pethome")
  h4.introduction__title Casa
  hr
  p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl


.introduction__box 
  svg.introduction__image
    use(xlink:href="assets/defs.svg#icon-petfood")
  h4.introduction__title Comida
  hr
  p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl


.introduction__box
  svg.introduction__image
    use(xlink:href="assets/defs.svg#icon-petreport")
  h4.introduction__title Saúde
  hr
  p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl


.introduction__box
  svg.introduction__image
    use(xlink:href="assets/defs.svg#icon-petvaccine")
  h4.introduction__title Vacina
  hr
  p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl











//- each description, slug in public.introduction._data
//-   .introduction__box
//-     svg.introduction__image
//-       use(xlink:href="assets/defs.svg#icon-#{ description.icon }")
//-     h4.introduction__title #{ description.title }
//-     hr
//-     p.introduction__text #{ description.info }
