.body {
  min-height: 100%;
  background-color: #d3d3d3;
  padding: 125px 100px;

  &__wrapper {
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: center;
  }

  &__card {
    height: 250px;
    width: 500px;
    background-color:white;
    box-shadow: 3px 2px 10px 0 white;
    margin: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
  }

  &__info{
    display:flex;
    height: 90%;
  }

  &__frame {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  &__frame::after{
    content: "";
    position: absolute;
    background-color:gray;
    width: 1px;
    height: 50px;
    left: 160px;
    top: 100px;
  }
  
  &__image{
    background-color: blanchedalmond;
    border: grey 2px solid;
    border-radius: 50%;
    height: 140px;
    width: 140px;
  }

  &__content {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  &__title{
    display: flex;
    justify-content: center;
  }

  &__text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 30px;
    text-align: justify;
  }

  /*couldn't get to make the collapse element fit in the card radius*/

  &__collapse{
    height: 10%;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: grey solid 1px;
    transition: all 0.4s;
  }

  &__collapse:hover{
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__icon{
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 11px solid whitesmoke;
  }

}

.body__collapse:hover .body__icon{
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 11px solid rgba(0, 0, 0, 0.856);
  transition: all 0.4s;
}

