.body {
  min-height: 100%;
  background-color: #d3d3d3;
  padding: 125px 100px;

  &__wrapper {
    width: 100%;
    padding: 0 150px;
    display: flex;
  }

  &__card {
    height: 250px;
    background-color: #a9a9a9;
    border: 1px solid #000;
    margin: 25px;
    width: 50%;
    display: flex;
  }

  &__frame {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__frame::after{
    content: "";
    position: absolute;
    background-color: gray;
    width: 2px;
    height: 100px;
    left: 165px;
    top: 40px;
  }
  
  &__image{
    height: 150px;
    width: 150px;
  }

  &__bar{
    display: flex;
    justify-content: center;
    margin: 20%;
  }
  
  &__svg{
    width: 25px;
    height: 25px;
  }

  &__content {
    margin: 50px;
  }

  &__text{
    font-size: 13px;
  }



}



