.contact{

    &__container{
    height: 130px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }

    &__title{
        margin: 0;
        color: white;
    }

    &__wrapper{
        height: 50px;
        display: flex;
        width: 200px;
        justify-content: space-evenly;
        align-items: center;
    }

    &__box{
        height: 30px;
        width: 30px;
    }

    &__image{
        fill: white;
        height:100%;
        width: 100%;
        cursor: pointer;
    }




}