.header {
  display: flex;
  flex-direction: column;
  background: lightsalmon;

  &__title {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
    padding-bottom: 10px;
  }

  &__frame {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }

  &__image {
    max-height: 250px;
    position: relative;
    bottom: -71px;
  }
}