.introduction{
    display: flex;
    padding: 200px 150px;
    background-color: #efdfdf;
    
    @media screen and (max-width: $mobile-up) {
        flex-direction: column;
        padding: 200px 0px;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: $web){
        padding: 200px 0px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


    &__box{
        display: flex;
        width: calc(100% / 5);
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: $mobile-up) {
            width: 100%;
        }
        @media screen  and (max-width: $web){
            display: flex;
            flex-wrap: wrap;
            width: 50%;
        }
    }

    &__text {
        width: 85%;
        @media screen and (max-width: $mobile-up) {
            width: 80%;
        }
    }  
}



