.introduction{
    display: flex;
    padding: 200px 150px;
    background-color: #efdfdf;

    &__box{
        display: flex;
        width: calc(100% / 5);
        align-items: center;
        flex-direction: column;
    }

    &__text {
        width: 85%;
        
    }
}



