.section{
  background-color: lightblue;
}

.section--reverse{
  flex-direction: row-reverse;
  background-color: lightpink;
}

.section,
.section--reverse{
  display: flex;
  height: 85vh;
  justify-content: space-around;

  &__box{
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image:hover{
    opacity: 0.3;
  }
  
  &__image:hover ~.section__text /*this makes the effect disappear when the mouse hovers over text*/{
    opacity: 1;
  }

  &__image{
    opacity: 1;
    width: 500px;
    height: 500px;
    transition: all .5s ease;
  }

  &__text{
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 45px;
  }

  &__content{
    display:flex;
    align-items: center;
  }
  
  &__paragraph{
    width: auto;
  }

  &__status{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__item{
    border: 2px solid black;
    margin: 25px 0px;
  }
}



