.section{
  background-color: lightblue;
}

.section--reverse{
  flex-direction: row-reverse;
  background-color: lightpink;
}

.section,
.section--reverse{
  display: flex;
  justify-content: space-around;
  height: 85vh;

.section__side:hover .section__image{
    opacity: 0.3;
}
  
.section__side:hover .section__effect{
    opacity: 1;
}

  &__side{
    position: relative;
    display:flex;
    align-items: center;
  }

  &__image{
    opacity: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  &__effect{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  &__card{
    color: white;
    font-size: 45px;
  }

  &__text{
    display:flex;
    align-items: center;
  }
  
  &__paragraph{
    width: auto;
  }
}



