.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 25%;
  background: lightsalmon;

  &__list {
    display: inline-flex;
    justify-content: flex-end;
    padding: 10px 20px;
    color: white;
    list-style-type: none;
    margin: 0;
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 5px;
  
    &:hover {
      color:lightgrey;
    }
  }

  &__title {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
  }
}