.container
  nav.navbar
    ul.navbar__list
      li.navbar__item
        a.navbar__link(href="#") Menu
      li.navbar__item 
        a.navbar__link(href="#") Sobre
      li.navbar__item 
        a.navbar__link(href="#") Contato
    h1.navbar__title Projeto Cachorro
  .banner
    .banner__blue
      .banner__left
        p.banner__image Imagem
      .banner__text 
        p.banner__paragraph Only the strongest will survive   Lead me to heaven, when we die   I am the shadow on the wall   I'll be the one to save us all
    .banner__pink
      .banner__right
        p.banner__image Imagem 
      .banner__text
        p.banner__paragraph Do or die, you'll never make me Because the world will never take my heart Go and try, you'll never break me We want it all, we wanna play this part
          

