
.container
  header.header
    #mySidepanel.nav.header__navbar.navbar
      a(href="javascript:void(0)" class="navbar__closebtn" onclick="closeNav()") &times;
      li.navbar__item
        a.navbar__link(href="#") Menu
      li.navbar__item 
        a.navbar__link(href="#section") Cachorro Doge
      li.navbar__item 
        a.navbar__link(href="#section--reverse") Cachorro Rei
      li.navbar__item 
        a.navbar__link(href="#") Contato
    button(class="navbar__openbtn" onclick="openNav()") &#9776;
    .header__frame 
      img.header__image(src="/assets/dogface.png")



  #introduction.introduction
    != partial("introduction/_introduction")

  .body
    != partial("body/_body")
    
  .contact 
    != partial("contact/_contact")
