.container
  header.header
    nav.header__navbar.navbar
      li.navbar__item
        a.navbar__link(href="#") Menu
      li.navbar__item 
        a.navbar__link(href="#section") Cachorro Doge
      li.navbar__item 
        a.navbar__link(href="#section--reverse") Cachorro Rei
      li.navbar__item 
        a.navbar__link(href="#") Contato
    .header__frame 
      img.header__image(src="/assets/dogface.png")

    #introduction.introduction
      != partial("introduction/_introduction")

  #section.section
    .section__box
      img.section__image(src="assets/doge.png")
      span.section__text Doge
    
    .section__content 
      p.section__paragraph Only the strongest will survive Lead me to heaven,  when we die   I am the shadow on the wall   I'll be the one to save us all
  
  #section--reverse.section--reverse 
    .section__box
      img.section__image(src="assets/dogola.png")
      span.section__text Imperador Cão
    .section__content 
      p.section__paragraph Do or die, you'll never make me Because the world will never take my heart Go and try, you'll never break me We want it all, we wanna play this part

