nav.navbar
  ul.navbar__list.list 
    li.list__item Menu
    li.list__item Como
    li.list__item Onde

.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
.core 
  .core__one  
    p Olá Papai 
