.container
  header.header
    nav.header__navbar.navbar
      li.navbar__item
        a.navbar__link(href="#") Menu
      li.navbar__item 
        a.navbar__link(href="#section") Cachorro Doge
      li.navbar__item 
        a.navbar__link(href="#section--reverse") Cachorro Rei
      li.navbar__item 
        a.navbar__link(href="#") Contato
    .header__frame 
      img.header__image(src="/assets/dogface.png")

  #introduction.introduction
    .introduction__box
      svg.introduction__image
        use(xlink:href="assets/defs.svg#icon-protective")
      h4.introduction__title Adoção
      hr
      p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl
    .introduction__box
      svg.introduction__image
        use(xlink:href="assets/defs.svg#icon-pethome")
      h4.introduction__title Casa
      hr
      p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl
    .introduction__box 
      svg.introduction__image
        use(xlink:href="assets/defs.svg#icon-petfood")
      h4.introduction__title Comida
      hr
      p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl
    .introduction__box
      svg.introduction__image
        use(xlink:href="assets/defs.svg#icon-petreport")
      h4.introduction__title Saúde
      hr
      p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl
    .introduction__box
      svg.introduction__image
        use(xlink:href="assets/defs.svg#icon-petvaccine")
      h4.introduction__title Vacina
      hr
      p.introduction__text bla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla blbla bl

  #section.section
    .section__box
      img.section__image(src="assets/pngkey.com-dog-head-png-8591394.png")
      span.section__text Doge
    
    .section__content 
      p.section__paragraph Only the strongest will survive Lead me to heaven,  when we die   I am the shadow on the wall   I'll be the one to save us all
  
  #section--reverse.section--reverse 
    .section__box
      img.section__image(src="assets/dogola.png")
      span.section__text Imperador Cão
    .section__content 
      p.section__paragraph Do or die, you'll never make me Because the world will never take my heart Go and try, you'll never break me We want it all, we wanna play this part

