.container
  nav.navbar
    ul.navbar__list
      li.navbar__item
        a.navbar__link(href="#") Menu
      li.navbar__item 
        a.navbar__link(href="#") Sobre
      li.navbar__item 
        a.navbar__link(href="#") Contato
    h1.navbar__title Projeto Cachorro