.container
  nav.navbar
    ul.navbar__list
      li.navbar__list--weird
        a.navbar__link(href="#") Menu
      li.navbar__item 
        a.navbar__link(href="#") Sobre
      li.navbar__item 
        a.navbar__link(href="#") Contato
