h1.contact__title Contato
.contact__wrapper
        .contact__box
            svg.contact__image
                use(xlink:href="assets/defs.svg#icon-instagram")
        .contact__box
            svg.contact__image
                use(xlink:href="assets/defs.svg#icon-whatsapp")
        .contact__box
            svg.contact__image
                use(xlink:href="assets/defs.svg#icon-facebook")
