.body__wrapper 
  .body__card
    .body__frame
      img(src="assets/dogola.png", alt="OOPSS")
    .body__border 
      .body__line
    .body__content
      h3.body__title Dogola, Rei dos Reis
      p.body__text What have I Become? My sweetest friend, everyone I know goes away in the end.
  .body__card
.body__wrapper 
  .body__card
  .body__card
