.body__wrapper 
  .body__card
    .body__frame
      img.body__image(src="assets/dogola.png", alt="OOPSS")
      .body__bar
        .body__status
          svg.body__svg
            use(xlink:href="assets/defs.svg#icon-protective")
            span bla
        .body__status
          svg.body__svg
            use(xlink:href="assets/defs.svg#icon-protective")
            span bla
        .body__status
          svg.body__svg
            use(xlink:href="assets/defs.svg#icon-protective")
              span bla
    .body__content
      h3.body__title DOGOLA
      p.body__text Beyond the anthills of the dawning of this plague, said I've lost my way. Even if this cul de sac did pay. To reach inside a vault whatever be the cost. Sterling clear. Blackend ice. When they drag the lake theres nothing left at all 
  .body__card
.body__wrapper 
  .body__card
  .body__card
